:root {
  --primary-color: #ec1f55;
  --text-color: #333;
}

/*
  Josh Comeau Reset https://www.joshwcomeau.com/css/custom-css-reset/
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:visited {
  color: white;
}

ul > li {
  list-style: none;
}
/* */

/**/

html {
  font-family: 'Poppins', sans-serif;
}

.home .carousel-item {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.home .carousel-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.home .carousel-item .playlist-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home .carousel-item h2 {
  font-size: 80px;
  color: #ffffff;
  margin: 0 0 10px;
  opacity: 0;
}

.home .carousel-item p {
  font-size: 30px;
  margin: 0;
  color: #eeeeee;
  opacity: 0;
}

.home .carousel-item.active h2 {
  animation: fadeInLeft 0.5s ease forwards;
}

.home .carousel-item.active p {
  animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.home .carousel-controls {
  position: absolute;
  left: 50%;
  bottom: 40px;
  z-index: 10;
  transform: translateX(-50%);
}

.home .carousel-indicators {
  position: relative;
  margin: 0;
}

.home .carousel-indicators li {
  height: 70px;
  width: 70px;
  margin: 0 5px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  border: 3px solid transparent;
  transition: all 0.3s ease;
}

.home .carousel-indicators li.active {
  border-color: #ffffff;
  transform: scale(1.2);
}

.home .carousel-control-next,
.home .carousel-control-prev {
  height: 60px;
  width: 60px;
  opacity: 1;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.home .carousel-control-next:hover,
.home .carousel-control-prev:hover {
  box-shadow: 0 0 10px #ffffff;
}

.home .carousel-control-next img,
.home .carousel-control-prev img {
  width: 30px;
}

.home .carousel-control-next {
  right: -90px;
}

.home .carousel-control-prev {
  left: -90px;
}

/*responsive*/
@media (max-width: 767px) {
  .home .carousel-control-next,
  .home .carousel-control-prev {
    display: none;
  }

  .home .carousel-indicators li {
    height: 60px;
    width: 60px;
  }

  .home .carousel-item h2 {
    font-size: 45px;
  }

  .home .carousel-item p {
    font-size: 22px;
  }
}

#indicator-1 {
  /* background-image: url('../../assets/img/img-1.jpg'); */
}

#indicator-2 {
  /* background-image: url('../../assets/img/img-2.jpg'); */
}

#indicator-3 {
  /* background-image: url('../../assets/img/img-3.jpg'); */
}

#indicator-4 {
  /* background-image: url('../../assets/img/img-4.jpg'); */
}

#bg-1 {
  /* Gradient Bg */
  /* https://csshero.org/mesher/ */
  background-color: hsla(0, 100%, 50%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(28, 100%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);

  display: flex;
  justify-content: center;
  align-items: center;
}

#bg-2 {
  background-color: #ffd199;
  background-image: radial-gradient(
      at 27% 17%,
      hsla(335, 79%, 71%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 63% 63%, hsla(244, 88%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 73% 68%, hsla(304, 87%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 43% 12%, hsla(19, 91%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 21% 37%, hsla(169, 66%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 18% 50%, hsla(263, 99%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 36% 41%, hsla(65, 85%, 78%, 1) 0px, transparent 50%);
}

#bg-3 {
  background-color: #ffd199;
  background-image: radial-gradient(
      at 27% 17%,
      hsla(335, 79%, 71%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 63% 63%, hsla(244, 88%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 73% 68%, hsla(304, 87%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 43% 12%, hsla(19, 91%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 21% 37%, hsla(169, 66%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 18% 50%, hsla(263, 99%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 36% 41%, hsla(65, 85%, 78%, 1) 0px, transparent 50%);
}

#bg-4 {
  background-color: #ff99b8;
  background-image: radial-gradient(
      at 53% 50%,
      hsla(352, 64%, 62%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 24% 42%, hsla(177, 94%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 28% 32%, hsla(347, 65%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 96% 91%, hsla(339, 71%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 65% 64%, hsla(59, 89%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 70% 70%, hsla(189, 77%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 64%, hsla(226, 83%, 75%, 1) 0px, transparent 50%);
}

/******/
/* song cards */

.song-card {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song-card.active {
  background-color: var(--primary-color);
}

.song-card:active {
  opacity: 0.8;
}

.song-card.active .option,
.song-card.active .author,
.song-card.active .title {
  color: #fff;
}

.song-card .song-thumb {
  --song-thumb-diameter: 50px;
  background-image: url(../../assets/img/694-100x100.jpg);
  width: var(--song-thumb-diameter);
  height: var(--song-thumb-diameter);
  border-radius: 7px;
  background-size: cover;
  margin: 0 8px;
}
.song-thumb > img {
  border-radius: 7px;
}

.song-card .body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex: 1;
  padding: 0 16px;
}

.song-card .title {
  font-size: 18px;
  color: var(--text-color);
}

.song-card .author {
  font-size: 12px !important;
  color: #999;
}

.song-card .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}

/* tracks list */
#track-list {
  height: 400px;
  overflow-y: auto;
  margin-inline: 10px;
  padding-inline: 10px;

  /* width of the entire scrollbar */
  scrollbar-width: thin;
  /* colors of the scroll thumb and tracking area */
  scrollbar-color: #737272 #404040;
  scrollbar-gutter: stable both-edges;
}

/* two column playlist */
.playlist-container {
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px;

  background-color: hsla(0, 0%, 20%, 0.1);
  border-radius: 8px;
}

.playlist-details {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
}

.playlist-thumbnail_wrapper {
  border: #ec1f55 1px solid;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px;
}

.playlist-thumbnail_wrapper #playlist-thumbnail {
  width: 150px;
  background-position: center;
  background-size: cover;
}

.playlist-title {
  font-size: 22px;
}

.playlist-description {
  font-size: 16px !important;
}

.playlist-type {
  font-size: 12px;
  font-weight: bold;
}

/************************DON'T DELETE****************************/
/* two column playlist */
/* .playlist-container {
    border: 1px solid red;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
} */

/* playlist info right column container */
/* .playlist-details {
    border: #ec1f55 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
} */

/* 
.playlist-thumbnail_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

} */

/* #playlist-thumbnail {
    width: 200px;
    height: 200px;
}

.playlist-details_namedescription {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
} */
